flask
face-recognition
opencv-python-headless
cmake
#dlib-bin==19.24.2
#face-recognition
setuptools<81
numpy==1.26.4
waitress
pyngrok
gunicorn

# for dlib visit "https://github.com/z-mahmud22/Dlib_Windows_Python3.x"
